<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateElecionServlet</servlet-name>
        <servlet-class>CreateElecionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveElectionServlet</servlet-name>
        <servlet-class>ApproveElectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectElectionServlet</servlet-name>
        <servlet-class>RejectElectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VotingRateServlet</servlet-name>
        <servlet-class>VotingRateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>VoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteElectionServlet</servlet-name>
        <servlet-class>DeleteElectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectionResultsServlet</servlet-name>
        <servlet-class>ElectionResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectionOverviewServlet</servlet-name>
        <servlet-class>ElectionOverviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/editUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateElecionServlet</servlet-name>
        <url-pattern>/CreateElecionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveElectionServlet</servlet-name>
        <url-pattern>/ApproveElectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectElectionServlet</servlet-name>
        <url-pattern>/RejectElectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VotingRateServlet</servlet-name>
        <url-pattern>/VotingRateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/VoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteElectionServlet</servlet-name>
        <url-pattern>/DeleteElectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectionResultsServlet</servlet-name>
        <url-pattern>/ElectionResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectionOverviewServlet</servlet-name>
        <url-pattern>/ElectionOverviewServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
